* {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}




.input-game {
    width: 100px;
    height: 100px;
    background-color: rgb(120, 216, 192);
    border-style: solid;


}
header {
    background-color: rgb(24, 170, 126);
    min-width: 100vw;
    min-height: 15vh;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

footer {
    background-color: rgb(24, 170, 126);
    min-width: 100vw;
    min-height: 5vh;
}

h1 {
    color: white;
}

section {
    min-height: 60vh;
    margin-top: 20vh;
}